<div class="col-sm-9 cont" id="load">
	<% $photos.items.each do |item| %>
		<tr>
			<td>
				<img src="<%= item.photo_604 %>">
			</td>
		</tr>
	<% end %>
</div>
<div class="col-sm-3">
	<%= render 'shared/info_user' %>
</div>