<div class="content">		
	<% $photos.items.each do |item| %>
		<div class="cont-block">
			<a href="#" data-toggle="modal" data-target="#<%= item.id %>">
				<img src="<%= item.photo_604 %>" class="cont-img">
			</a>
			<div id="<%= item.id %>" class="modal">
				<div class="modal-block">
					<div class="modal-content">
						<div class="modal-body">
							<a href="#" data-dismiss="modal"><img src="<%= item.photo_1280 %>"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>