<% if @friends.empty? %>
	<li>Друзья не найдены</li>
<% else %>
	<% @friends.items.each do |item| %>
		<li>
			<a href='#' >
				<td width="200"><%= full_name(item) %></td>
				<td><%= image_tag(item.photo, class: 'img-circle') %></td>
			</a>
		</li>
	<% end %>
<% end %>