<% $friends.items.each do |item| %>
	<a href='/pages/<%= item.id %>' data-remote="true" class="friend-block">
		<div class="friend-name"><%= full_name(item) %></div>
		<div class="friend-img"><%= image_tag(item.photo, class: 'img-circle') %></div>
	</a>
<% end %>