<% if @friends.empty? %>
	<li>Друзья не найдены</li>
<% else %>
	<% @friends.items.each do |item| %>
		<li>
			<a href='#' >
			<div class="">
				<span class="friends-name"><%= full_name(item) %></span>
				<%= image_tag(item.photo, class: 'img-circle') %>
			</div>
			</a>
		</li>
	<% end %>
<% end %>