<div class="col-sm-9 cont">
	<% if @check.present? %>
		<div class="alert alert-danger">
			Пользователь не ограничил доступ к фотографиям.
		</div>
	<% else %>
		<div class="alert alert-danger">
			Пользователь ограничил доступ к фотографиям.
		</div>
	<% end %>
</div>
<div class="col-sm-3">
	<%= render 'shared/info_friend' %>
</div>