<div class="">
<% if @error_saved.present? %>
	<div class="alert alert-danger">
		Error
	</div>
<% else %>
	<% @friend_photos.items.each do |item| %>
		<tr>
			<td>
				<img src="<%= "#{item.photo_604}" %>">
			</td>
		</tr>
	<% end %>
<% end %>
</div>