<% if @friends.empty? %>
	<li>Друзья не найдены</li>
<% else %>
<div class="search">
	<li>
		<%= form_tag(@session, remote: true) do |f| %>
			<%= f.text_field :search %>
			<%= f.submit "Search" %>
		<% end %>
	</li>
</div>
<div class="scroll" id="search">	
	<%= render 'shared/friends' %>
</div>
<% end %>