<% if @friends.empty? %>
	<li>Друзья не найдены</li>
<% else %>
	<% @friends.items.each do |item| %>
		<li>
			<a href='#' >
				<p class="friends-menu"><%= full_name(item) %></p>
				<%= image_tag(item.photo, class: 'friends-avt img-circle') %>
			</a>
		</li>
	<% end %>
<% end %>