<% if @friends.empty? %>
	<li>Друзья не найдены</li>
<% else %>
	<% @friends.items.each do |item| %>
		<li>
			<%= link_to full_name(item), '#' do %>
				<%= image_tag(item.photo, class: 'avt img-circle') %>
			<% end %>
		</li>
	<% end %>
<% end %>