<div class="content">		
	<% if @check.present? %>
		<% @friend_photos.items.each do |item| %>
			<div class="cont-block">
				<img src="<%= item.photo_807 %>">
			</div>
		<% end %>
	<% else %>
		<div class="alert alert-danger">
			Пользователь ограничил доступ к фотографиям.
		</div>
	<% end %>
</div>