<% if @friends.empty? %>
	<li>Друзья не найдены</li>
<% else %>
	<% @friends.items.each do |item| %>
		<li>
			<a href='#' class="row friends-menu">
				<span class="friends-name"><%= full_name(item) %></span>
				<span class="friends-avt"><%= image_tag(item.photo, class: 'img-circle') %></span>
			</a>
		</li>
	<% end %>
<% end %>