<% if @friends.empty? %>
	<li>Друзья не найдены</li>
<% else %>
<div class="search">
	<li>
		<%= form_tag("/search", method: "get") do %>
			<%= text_field_tag(:search) %>
			<%= submit_tag (Search) %>
		<% end %>
	</li>
</div>
<div class="scroll" id="search">	
	<%= render 'shared/friends' %>
</div>
<% end %>