<% if @friends.empty? %>
	<li>Друзья не найдены</li>
<% else %>
	<% @friends.items.each do |item| %>
		<li>
			<a href='#' >
				<td class="td-name"><%= full_name(item) %></td>
				<td class="td-img"><%= image_tag(item.photo, class: 'img-circle') %></td>
			</a>
		</li>
	<% end %>
<% end %>