<a href="/back" data-remote="true" class="info-font btn-size">
	<span class="glyphicon glyphicon-home"></span>
</a>
<a href="/up" data-remote="true" class="info-font btn-size">
	<span class="glyphicon glyphicon-chevron-up"></span>
</a>
<a href="/bar" data-remote="true" class="info-font btn-size">
	<span class="gl glyphicon glyphicon-th"></span>
</a>