<div>
	<%= image_tag(@friend.photo, class: 'info-img img-circle') %>
</div>
<div class="info-links">
	<%= link_to vk_url(@friend), target: '_blank', class: 'info-font' do %>
		<span class="glyphicon glyphicon-user"></span>
	<% end %>
	<span class="info-name info-font"><%= @friend.first_name %></span>
	<span class="glyphicon glyphicon-picture info-count">
		<span class="info-font">Изображений: <% if @check.present? %><%= @friend_photos.first.last %><% else %>Ограничено<% end %></span>
	</span>
</div>