<div>
	<%= image_tag(@friend.photo, class: 'info-img img-circle') %>
</div>
<div class="info-links">
	<%= link_to vk_url(@friend), target: '_blank' do %>
		<span class="glyphicon glyphicon-user"></span>
	<% end %>
	<span class="info-name"><%= @friend.first_name %></span>
	<a href="/back" data-remote="true">
		<span class="glyphicon glyphicon-home"></span>
	</a>
	<span class="info-count glyphicon glyphicon-picture"> Изображений:
		<% if @check.present? %> 
			<%= @friend_photos.first.last %>
		<% else %>
			Ограничено
		<% end %>
	</span>
</div>