<!-- Logo -->

<div class="row">
	<div class="logo">TOGGLE</div>
</div>

<!-- Br -->

<div class="row">
	<div class="br"></div>
</div>

<!-- User Info -->

<div class="row">

	<!-- Info -->

	<div class="col-sm-8 info">
		
		<div class="drop inf-name">
			<%= @friend.first_name %>
			<%= link_to vk_url(@friend), target: '_blank' do %>
				<span class="glyphicon glyphicon-user"></span>
			<% end %>
	    </div>

	    <div class="inf">
			Фото:
			<% if @check.present? %> 
				<%= @friend_photos.first.last %>
			<% else %>
			Ограничено
			<% end %>
	    </div>
	    <div class="drop">
	    	<a href="/back", data-remote="true">
	    		Назад
				<span class="glyphicon glyphicon-share-alt"></span>
			</a>
	    </div>

	</div>
		
	<!-- Photo -->

	<div class="col-sm-4 avt-pd">
		<%= image_tag(@friend.photo, class: 'avt img-circle') %>
	</div>

</div>