<!-- Logo -->

<div class="row">
	<div class="logo">TOGGLE</div>
</div>

<!-- Br -->

<div class="row">
	<div class="br"></div>
</div>

<!-- User Info -->

<div class="row">

	<!-- Info -->

	<div class="col-sm-8 info">
		
		<div class="drop inf-name">
			<%= "#{}" %>
	    </div>

	    <div class="inf">
			Фото: <%= "#{@friend_photos.first.last}" %>
	    </div>

	</div>
		
	<!-- Photo -->

	<div class="col-sm-4 avt-pd">
		<%= link_to image_tag(, class: 'avt img-circle'), '#' %>
	</div>

</div>