<% @search_friends.items.each do |item| %>
	<% if item.check != true %>
		<li>
			<a href='/pages/<%= item.id %>' data-remote="true">
				<div class="friends-name"><%= full_name(item) %></div>
				<div class="friends-img"><%= image_tag(item.photo, class: 'img-circle') %></div>
			</a>
		</li>
	<% end %>
<% end %>