<div class="col-md-8 col-lg-9" id="content">
	<%= render 'shared/current_user' %>
</div>
<div class="col-md-4 col-lg-3">
	<div class="row">
		<div class="fix">
			<div class="logo">Toggle</div>
			<div class="br"></div>
			<div class="info-block" id="info">
				<%= render 'shared/info_user' %>
			</div>
			<div class="home-link">
				<a href="/back" data-remote="true" class="info-font">
					<span class="glyphicon glyphicon-home"></span>
				</a>
			</div>
			<div class="friends-list">
				<div class="search">
					<form accept-charset="UTF-8" action="/search" data-remote="true" method="get">
						<input type="text" name="search" class="form-control" placeholder="Search among friends">
					</form>
				</div>
				<div class="friends-block" id="search">	
					<%= render 'shared/friends' %>
				</div>
			</div>
		</div>
	</div>
</div>