<div class="col-sm-8 col-sm-offset-2 alert alert-info welcome">
	Для лучшего взаимодействия с сервисом рекомендуется открыть доступ к альбому сохраненных фотографий вашим друзьям.
</div>
<div class="col-sm-2 col-sm-offset-5">
	<a href="/signin" class="btn btn-lg btn-primary">Login</a>
</div>