<div class="welc-body">
	<div class="row">
		<div class="col-md-6 col-lg-5 diamonds"></div>
		<div class="col-md-6 col-lg-7 welcome">
			<div class="welc-text">
				<div class="t1">WELCOME</div>
				<div class="t2">to</div>
				<div class="t3">TOGGLE</div>
				<div class="t4">
					<a href="/signin" class="welc-btn"><i class="glyphicon glyphicon-log-in"></i>&emsp;Login using VK</a>
				</div>
			</div>
		</div>
	</div>
</div>