<% provide(:title, 'Home') %>
<div class="">
	<% if log_in? %>
		<div class="">
			<% if @friends.empty? %>
				<tr>
					<td>no friends</td>
				</tr>
			<% else %>
					<tr>
						<td>
							<%= "#{photos.items}" %>
						</td>
					</tr>
				
			<% end %>
		</div>
	<% else %>
		<h1>Welcome!</h1>
		<%= link_to "login", signin_path %>
	<% end %>
</div>