<% provide(:title, 'Home') %>
<div class="">
	<% if log_in? %>
		<div class="">
			<% if @friends.empty? %>
				<tr>
					<td>no friends</td>
				</tr>
			<% else %>
				<% @photos.items.each do |photo| %>
					<tr>
						<td>
							<%= image_tag(photo.photo_807) %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</div>
	<% else %>
		<h1>Welcome!</h1>
		<div id="vk_auth"></div>
		<script type="text/javascript">
			VK.Widgets.Auth("vk_auth", {width: "200px",
			onAuth: function(data){
				alert('user'+data['uid']+'authorized');
			}});
		</script>
	<% end %>
</div>