<% provide(:title, 'Home') %>
<div class="">
	<% if log_in? %>
		<div class="">
			<% if @friends.empty? %>
				<tr>
					<td>no friends</td>
				</tr>
			<% else %>
				<% @photos.items.each do |item| %>
					<tr>
						<td>
							<%= "#{item.photo_807}" %>
							<img src="<%= "#{item.photo_807}" %>">
						</td>
					</tr>
				<% end %>
			<% end %>
		</div>
	<% else %>
		<h1>Welcome!</h1>
		<%= link_to "login", signin_path %>
	<% end %>
</div>