<% provide(:title, full_name(@current_user)) %>
<% if log_in? %>
	<div class="col-sm-9">
		<div class="">
			<% @photos.items.each do |item| %>
				<tr>
					<td>
						<img src="<%= item.photo_604 %>">
					</td>
				</tr>
			<% end %>
		</div>
	</div>
	<div class="col-sm-3">
		<%= render 'shared/info_user' %>
	</div>
<% else %>
	<h1>Welcome!</h1>
	<%= link_to "login", signin_path %>
<% end %>
