<% provide(:title, 'Home') %>
<div class="">
	<% if log_in? %>
		<div>
			<div class="">
				<% $photos.items.each do |item| %>
					<tr>
						<td>
							<img src="<%= "#{item.photo_604}" %>">
						</td>
					</tr>
				<% end %>
			</div>
		</div>
	<% else %>
		<h1>Welcome!</h1>
		<%= link_to "login", signin_path %>
	<% end %>
</div>