<% provide(:title, 'Friend') %>
<div class="">
	<% if log_in? %>
	<div>
		<%= render 'shared/friend' %>
	</div>
	<% else %>
		<h1>Please login.</h1>
		<%= link_to "login", signin_path %>
	<% end %>
</div>