<% provide(:title, "#{@friend.first_name @friend.last_name}") %>
<div class="col-sm-9">
	<% @friend_photos.items.each do |item| %>
		<tr>
			<td>
				<img src="<%= "#{item.photo_604}" %>">
			</td>
		</tr>
	<% end %>
</div>
<div class="col-sm-3">
	<%= render 'shared/info_friend' %>
</div>