@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: 'Roboto', sans-serif;
}

/* navbar */

.nav-btn {
	padding: 0 5px 0 5px;
	height: 35px;
	width: 45px;
	text-align: center;
	font-size: 28px;
	margin-top: 10px;
	&:hover {
		font-size: 24px;
	}
}

a {
	color: rgba(0,0,0,0.8);
	&:hover {
		color: rgba(0,0,0,0.2);
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
		color: rgba(0,0,0,0.8);
	}
}

/* content */

.cont {
	margin-top: 5px;
	text-align: center;
}

/* info */

.info-align {
	text-align: center;
}

.logo {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 36px;
	padding-top: 5px;
	font-family: 'Raleway', sans-serif;
}

.br {
	border-bottom: 1px solid rgba(0,0,0,0.4);
	margin: 0 35px 20px 40px;
}

.drop {
	margin-left: 15px;
	text-align: left;
	padding: none;
}

.inf {
	margin-top: 10px;
	margin-left: 15px;
	text-align: left;
}

.avt {
	height: 60px;
	width: 60px;
}


.dropdown ul {
	max-height: 450px;
	overflow-y: auto; 
}

.dropdown div {
	max-height: 450px !important;
}

.friends-menu {

}

.friends-name {
	width: 250px;
	background-color: red;
}

.friends-avt {
	margin-left: 10px;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid rgba(0,0,0,0.4);
}







.login {
	&:active {
		box-shadow: none;
	}
	&:hover {
		color: rgba(0,0,0,0.2);
	}
}