@import "bootstrap-sprockets";
@import "bootstrap";

/* Scrollbar */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

/* Logo */

.logo {

}

/* Friends list */

.friends-list {

}

.search {

}

.friends-block {

}

.friend-block {

}

.friend-name {

}

.friend-img {

}

/* Info block */

.info-block {

}

.info-img {

}

.info-links {

}

.info-name {

}

.info-count {

}

/* Content */

.content {

}

.cont-block {

}