@import "bootstrap-sprockets";
@import "bootstrap";

/* Scrollbar */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

/* Other */

.br {
	border-bottom: 3px solid;
	margin: -5px 60px 55px 60px;
}

.fix {
	position: fixed;
	height: 100%;
	overflow-y: auto;
	padding: 25px 10px;
	&::-webkit-scrollbar {
		display: none;
	}
}

/* Logo */

.logo {
	text-align: center;
	font-size: 36pt;
	font-family: 'Raleway';
	text-shadow: 3px 6px 20px rgba(0,0,0,0.3);
	padding-top: 5px;
	height: 80px;
	margin-top: 10px;
}

/* Friends list */

.friends-list {
	margin-top: 15px;
	margin-bottom: 15px;
}

.search {
	margin-bottom: 10px;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	border-radius: 6px;
}

.friends-block {
	overflow-y: auto;
	height: 480px;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
	border-radius: 6px;
	border: 1px solid #ccc;
}

.friend-block {
	display: flex;
	padding: 5px 5px 5px 10px;
	color: #090909;
	font-size: 15px;
	font-family: 'Roboto';
	&:hover {
		text-decoration: none;
		background-color: #eeeeee;
		color: #090909;
	}
	&:focus {
		text-decoration: none;
		color: #090909;
	}
}

.friend-name {
	width: 212px;
	height: 50px;
	padding-top: 15px;
}

.friend-img {
	width: 50px;
	height: 50px;
}

.home-link {
	margin-top: 70px;
}

/* Info block */

.info-block {
	display: flex;
}

.info-img {
	width: 60px;
	height: 60px;
}

.info-links {
	padding: 10px 0px 0px 15px;
}

.info-name {
	font-size: 20px;
	margin-left: 10px;
}

.info-count {
	display: block;
	margin-top: 5px;
}

.info-font {
	color: #090909;
	font-family: 'Roboto';
	&:hover {
		text-decoration: none;
		color: #090909;
	}
	&:focus {
		text-decoration: none;
		color: #090909;
	}
}

.btn-size {
	font-size: 24px;
}

/* Content */

.content {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.cont-block {
	
}

.block-list {
	margin-bottom: 15px;
}

.block-bar {
	margin: 0 10px 10px 0;
	display: inline-block;
}

.cont-img{
	box-shadow: 0px 0px 20px 0px rgb(0,0,0);
	&:hover {
		box-shadow: 0px 0px 20px 5px #92b4eb;
	}
}

.img-bar {
	height: 160px;
	max-width: 650px;
}

.modal-block {
	display: inline-block;
	margin-top: 2%;
}

.modal-img {
	max-height: 850px;
	max-width: 1280px;
}

.load {
	color: #090909;
	font-family: 'Roboto';
	font-size: 20px;
	box-shadow: 0px 0px 20px 0px rgb(0,0,0);
	text-align: center;
	padding: 10px 50px;
	&:hover {
		box-shadow: 0px 0px 20px 5px #92b4eb;
		background-color: #eeeeee;
		text-decoration: none;
		color: #090909;
	}
	&:focus {
		text-decoration: none;
		color: #090909;
	}
}

#load {
	margin-top: 40px;
	margin-bottom: 20px;
}

/* Welcome page */
.welc-body {
	margin-top: 25px;
	margin-bottom: 10px;
}

.diamonds {
	background-image: url(welcome.png);
	background-size: contain;
	height: 730px;
}

.welcome {
	height: 730px;
	font-family: 'Raleway';
	color: #090909;
}

.welc-text {
	margin-top: 210px;
	text-align: center;
}

.t1 {
	font-size: 90px;
}

.t2 {
	margin-top: -25px;
	font-size: 68px;
}

.t3 {
	margin-top: -25px;
	font-size: 74px;
}

.t4 {
	margin-top: 10px;
}

.welc-btn {
	padding: 10px 15px;
	width: 160px;
	border-radius: 25px;
	color: #090909;
	&:hover {
		box-shadow: 0px 0px 20px 5px #92b4eb;
		text-decoration: none;
		color: #090909;
	}
	&:focus {
		text-decoration: none;
		color: #090909;
	}	
}